<div class="container well box">

  <div class="row">
    <div ng-controller="ClientController" style='padding: 40px;' ng-cloak="" class="datepickerdemoBasicUsage">
      <md-content>
        
        <h4>Programa tu cita</h4>
        <md-datepicker ng-model="date" md-placeholder="Enter date"></md-datepicker>

        <form name="myForm">
          <div class="validation-messages" ng-messages="myForm.dateField.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
            <div ng-message="mindate">Date is too early!</div>
            <div ng-message="maxdate">Date is too late!</div>
            <div ng-message="filtered">Only weekends are allowed!</div>
          </div>
        </form> 
      </md-content>
      <form name="myForm">
       <label for="exampleInput">Hora:</label>
       <input type="time" id="exampleInput" name="input" ng-model="example.value"
           placeholder="HH:mm:ss"/>
      </form>
    </div>
  </div>

  <!-- <button ng-click="client.get()"></button> -->

  <div class="col-xs-4 col-xs-offset-4">
    <!-- <div class="panel-control"> -->
    <h4 class="marca">Tatuador de tu preferencia</h4>
    <select class="form-control">
      <!-- <option>Elegir tatuador</option> -->
      <option ng-repeat="artist in client.artists">{{artist.name}}</option>
    </select>
    <!-- </div> -->
  </div>

</div>
